@model PrivateSchool.Models.TrainerPerCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainerPerCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
