@model PagedList.IPagedList<PrivateSchool.Models.Student>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Search
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FNameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LNameSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Date of Birth", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Fees", "Index", new { sortOrder = ViewBag.FeesSortParam, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="studentDetails">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

        foreach (var studentPerCourse in item.StudentPerCourse)
        {
            <tr id="studentPerCourseName" class="studentPerCourseName">
                <th>
                    Course Title
                </th>
                <th>
                    Course Stream
                </th>
                <th>
                    Course Type
                </th>
                <th>
                    Ending Date
                </th>
            </tr>

            <tr id="studentPerCourseDetails" class="studentPerCourseName">
                <td>
                    @Html.DisplayFor(modelItem => studentPerCourse.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => studentPerCourse.Course.Stream)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => studentPerCourse.Course.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => studentPerCourse.Course.EndingDate)
                </td>
            </tr>
        }
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
